.header_1 {
    position: relative;
    z-index: 100;
    height: 85px;
    width: 100%;
    border: none;
    padding-right: 0 !important;
    background: #161616;
    padding-top: 15px;
}
.wallet-address {
    font-size: 18px;
    padding: 10px;
}
#site-logo {
    align-content: center;
}
.item-menu-mobile.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-balance {
  font-size: 12px;
  font-weight: 600;
  color: #aaa;
}

.current-item .wallet-balance {
    color: #3d74fc;
}