<div id="wrapper">
    <div id="page" class="pt-40 home-1">

        <div class="flat-pages-title">
            <div class="widget-bg-line">
                <div class="wraper">
                    <div class="bg-grid-line y bottom">
                        <div class="bg-line"></div>
                    </div>
                </div>
            </div>
            <div class="themesflat-container w1490">
                <div class="row">
                    <div class="col-12 pages-title">
                        <div class="content">
                            <!-- <h1 *ngIf="balance !== null">
                              <span [countUp]="balance" suffix=" SOL" [duration]="2000"></span>
                            </h1> -->

                            <h1 class="pb-10" *ngIf="totalBalanceUsd !== null" id="balanceUsdValue">
                              <span [countUp]="totalBalanceUsd" prefix="$" [duration]="2000"></span>
                              <!-- <span [ngClass]="trend > 0 ? 'warning' : (trend < 0 ? 'danger' : '')">
                                {{ trend > 0 ? '+' : ''}}{{ percentChange | number:'1.2-2' }}%
                              </span> -->
                              <!-- <i [ngClass]="trend > 0 ? 'icon-arrow-up2 warning' : (trend < 0 ? 'icon-arrow-down2 danger' : '')"></i> -->
                            </h1>
                            <ul class="widget-menu-tab">
                                <li class="item-title" (click)="toggleReceiveSheet()">
                                    <i class="icon-arrow-down2"></i>
                                    <br>Receive
                                </li>
                                <li class="item-title" (click)="toggleSendModal()">
                                    <i class="icon-arrow-up2"></i>
                                    <br>Send
                                </li>
                                <li class="item-title" (click)="toggleSwapModal()">
                                  <i class="icon-create"></i>
                                  <br>Swap
                                </li>
                                <li class="item-title" (click)="toggleBuyModal()">
                                    $
                                    <br>Buy
                                </li>
                            </ul>
                        </div>
                        <div class="icon-background">
                            <img class="absolute item1" src="assets/images/item-background/item1.png" alt="">
                            <img class="absolute item4" src="assets/images/item-background/item1.png" alt="">
                            <img class="absolute item5" src="assets/images/item-background/item1.png" alt="">
                            <img class="absolute item8" src="assets/images/item-background/item5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tf-section-2 ranking">
          <div class="themesflat-container">
              <div class="row">
                  <div class="col-12 mb-30">
                      <div class="widget-tabs relative">
                          <ul class="widget-menu-tab">
                              <li class="item-title active">
                                  <span class="inner">Tokens</span>
                              </li>
                              <li class="item-title">
                                  <span class="inner">Collectibles</span>
                              </li>
                              <li class="item-title">
                                  <span class="inner">Trendings</span>
                              </li>
                              <li class="item-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tf-soft flex items-center justify-between" style="margin-bottom: 0px;">
                                          <div class="soft-right">
                                              <div class="dropdown">
                                                <i class="icon-bullet dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="will-change: transform;position: absolute;transform: translate3d(-130px, 35px, 0px);top: 0px;left: 0px;">
                                                    <h6>Options</h6>
                                                    <a (click)="toggleOptionsModal()" class="dropdown-item">
                                                        <div class="sort-filter" href="#">
                                                            <span>Add new token</span>
                                                            <span class="icon-tick"><span class="path2"></span></span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <div class="sort-filter" href="#">
                                                            <span>Show balance</span>
                                                            <input class="check" type="checkbox" value="checkbox" name="check" checked="">
                                                        </div>
                                                    </a>
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                              </li>
                          </ul>
                          <div class="widget-content-tab pt-10">
                              <div class="widget-content-inner active">
                                  <div class="widget-table-ranking" *ngIf="tokens.length > 0">
                                      <div class="table-ranking-content" *ngFor="let token of tokens">
                                          <div data-wow-delay="0s" class="fl-row-ranking" [routerLink]="['/tabs/token', token.mint]">
                                              <div class="td1">
                                                  <div class="item-avatar">
                                                      <img src="{{ token.logoURI }}" alt="">
                                                  </div>
                                                  <div class="item-name">
                                                    {{ token.mint === 'So11111111111111111111111111111111111111112' ? 'Wrapped SOL' : token.symbol }}
                                                    <h6 class="price gem pt-10" [countUp]="token.amount">
                                                      {{ token.amount }}
                                                    </h6>
                                                  </div>
                                              </div>
                                              <div class="td5">
                                                  <h6 class="price gem">
                                                      ${{ token.usdValue }}
                                                      <div class="td4 warning pt-10">
                                                          <span [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')">
                                                            {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                                                          </span>
                                                          <i [ngClass]="token.trend > 0 ? 'icon-arrow-up2 warning' : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')"></i>
                                                      </div>
                                                  </h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="widget-content-inner">
                                  <div class="wrap-box-card" *ngIf="nfts.length > 0">
                                      <div class="col-item" *ngFor="let nft of nfts">
                                          <div class="tf-card-box style-1">
                                              <div class="card-media">
                                                  <a href="javascript:void(0)" (click)="walletNft()">
                                                      <!-- <img [src]="nft.image" alt="{{nft.name}}"> -->
                                                      <img src="assets/images/box-item/card-item-04.jpg" alt="">
                                                  </a>
                                                  <span class="wishlist-button icon-heart"></span>
                                                  <div class="button-place-bid">
                                                      <a href="javascript:void(0)" (click)="walletNft()" class="tf-button">
                                                        <span>Detail</span>
                                                      </a>
                                                  </div>
                                              </div>
                                              <h5 class="name"><a href="nft-detail-2.html">{{ nft.name }}</a></h5>
                                              <h6 class="price gem pt-10" [countUp]="nft.price" suffix=" SOL" [duration]="2000">{{ nft.price }}</h6>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="widget-content-inner">
                                <div class="widget-table-ranking" *ngIf="trendingTokens.length > 0">
                                  <div class="table-ranking-content" *ngFor="let token of trendingTokens">
                                    <div
                                      data-wow-delay="0s"
                                      class="fl-row-ranking"
                                      [routerLink]="['/tabs/token', token.mint]"
                                    >
                                      <div class="td1">
                                        <div class="item-avatar">
                                          <img [src]="token.logoURI || 'assets/images/box-icon/coin-01.png'" alt="" />
                                        </div>
                                        <div class="item-name">
                                          {{ token.symbol }}
                                          <h6 class="price gem pt-10">
                                            ${{ token.priceUsd | number:'1.6-6' }}
                                          </h6>
                                        </div>
                                      </div>
                                      <div class="td5">
                                        <h6 class="price gem">
                                          ${{ token.marketCap | shortNumber }}
                                          <div class="td4 warning pt-10">
                                            <span
                                              [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')"
                                            >
                                              {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                                            </span>
                                            <i
                                              [ngClass]="
                                                token.trend > 0
                                                  ? 'icon-arrow-up2 warning'
                                                  : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')
                                              "
                                            ></i>
                                          </div>
                                        </h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- /#page -->

    <!-- Action sheet --> 
    <div class="custom-action-sheet" *ngIf="showReceiveSheet">
      <div class="sheet-backdrop" (click)="toggleReceiveSheet()"></div>
      <div class="sheet-container" [ngClass]="{ 'slide-up': !isClosing, 'slide-down': isClosing }">
        <h3>Receive Address</h3>
        <p>{{ activeWallet ? activeWallet : '' }}</p>

        <!-- ✅ QR Code -->
        <div class="qrcodeImage">
          <qrcode 
            [qrdata]="activeWallet ? activeWallet : ''"
            [allowEmptyString]="true"
            [ariaLabel]="'QR Code image with the following content...'"
            [cssClass]="'demoBorderRadius'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'"
            [imageSrc]="'assets/images/app-logo.png'"
            [imageHeight]="75"
            [imageWidth]="75"
            [margin]="4"
            [scale]="1"
            [title]="activeWallet ? activeWallet : ''"
            [width]="300">
          </qrcode>
        </div>

        <button (click)="copyAddress()">Copy Address</button>
        <button class="cancel" (click)="toggleReceiveSheet()">Cancel</button>
      </div>
    </div>

    <div class="custom-modal" *ngIf="showSendModal">
      <div class="modal-backdrop" (click)="resetSendModal()"></div>

      <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSend, 'slide-down': isClosingSend }">

        <!-- Step 1: Pilih Token -->
        <div *ngIf="!selectedToken">
          <h2 class="modal-title">Select Token to Send</h2>

          <!-- 🔍 Search bar -->
          <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
            <input
              type="search"
              id="search"
              class="search-field style-1"
              placeholder="Search..."
              [(ngModel)]="tokenSearch"
              name="tokenSearch"
              title="Search for"
            />
            <button class="search search-submit" type="submit" title="Search">
              <i class="icon-search"></i>
            </button>
          </form>

          <!-- List token pakai template ranking -->
          <div class="widget-table-ranking pb-20" *ngIf="filteredTokens.length > 0">
            <div class="table-ranking-content" *ngFor="let token of filteredTokens" (click)="selectToken(token)">
              <div data-wow-delay="0s" class="fl-row-ranking">
                <div class="td1">
                  <div class="item-avatar">
                    <img [src]="token.logoURI || 'assets/images/box-item/rank-01.jpg'" alt="{{token.symbol}}">
                  </div>
                  <div class="item-name">
                    {{ token.symbol }}
                    <h6 class="price gem pt-10">{{ token.amount }}</h6>
                  </div>
                </div>
                <div class="td5">
                  <h6 class="price gem">
                    ${{ token.usdValue }}
                    <div class="td4 warning pt-10">
                      <span [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')">
                        {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                      </span>
                      <i [ngClass]="token.trend > 0 ? 'icon-arrow-up2 warning' : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')"></i>
                    </div>
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Kalau hasil kosong -->
          <div class="no-result" *ngIf="filteredTokens.length === 0">
            No tokens found
          </div>

          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSendModal()">Cancel</button>
          </div>
        </div>

        <!-- Step 2: Form input -->
        <div *ngIf="selectedToken && !isSending && !txSig">
          <h2 class="modal-title">Send {{ selectedToken.symbol }}</h2>

          <form (submit)="sendToken($event)" class="search-form relative">
            <input
              type="text"
              id="recipient"
              class="search-field style-1"
              placeholder="Address..."
              [(ngModel)]="recipient"
              name="recipient"
              required
              title="Address"
            />
            <button class="search search-submit" (click)="!scanning && toggleScanner()">
              <ion-icon name="qr-code-outline"></ion-icon>
            </button>

            <div class="form-group pt-10">
              <input
                type="number"
                id="amount"
                class="search-field style-1"
                placeholder="0"
                [(ngModel)]="amount"
                name="amount"
                required 
                min="0"
                title="Amount"
                [max]="selectedToken.amount"
              />
              <h5 class="price gem warning">
                Balance: {{ selectedToken.amount }} {{ selectedToken.symbol }}
              </h5>
            </div>

            <div class="modal-actions">
              <button type="button" class="btn-cancel" (click)="selectedToken = null">
                Back
              </button>
              <button
                type="submit"
                class="btn-send"
                [disabled]="!recipient || !amount || amount <= 0 || amount > selectedToken.amount"
              >
                Send
              </button>
            </div>
          </form>
        </div>

        <!-- Step 3: Loading / Success -->
        <div *ngIf="selectedToken && (isSending || txSig)" 
             @fadeSlide>
          <h2 class="modal-title" *ngIf="isSending">Processing Transaction...</h2>
          <div *ngIf="isSending" class="loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
          </div>

          <div *ngIf="txSig" class="success-tx" @fadeSlide>
            <h2 class="modal-title">Transaction Successful</h2>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <p>You sent {{ amount }} {{ selectedToken?.symbol }} to</p>
            <p class="addr">{{ recipient }}</p>
            <a
              [href]="'https://solscan.io/tx/' + txSig + '?cluster=mainnet'"
              target="_blank"
              class="btn-send"
            >
              View on Solscan
            </a>
            <div class="modal-actions">
              <button type="button" class="btn-cancel" (click)="resetSendModal()">
                Close
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 🔄 Modal Swap -->
    <div class="custom-modal" *ngIf="showSwapModal">
      <div class="modal-backdrop" (click)="resetSwapModal()"></div>

      <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSwap, 'slide-down': isClosingSwap }">

        <!-- Step 1: Pilih Token From -->
        <div *ngIf="!selectedFromToken && !isSwapping && !txSig">
          <h2 class="modal-title">Select Token to Swap From</h2>

          <!-- 🔍 Search bar (opsional) -->
          <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
            <input type="search" class="search-field style-1" placeholder="Search..."
                   [(ngModel)]="swapSearchFrom" name="swapSearchFrom">
            <button type="submit" class="search search-submit">
              <i class="icon-search"></i>
            </button>
          </form>

          <!-- List token pakai template ranking -->
          <div class="widget-table-ranking pb-20" *ngIf="tokens.length > 0">
            <div class="table-ranking-content" *ngFor="let token of tokens | filter:swapSearchFrom" (click)="selectFromToken(token)">
              <div data-wow-delay="0s" class="fl-row-ranking">
                <!-- Kolom kiri: logo + symbol + balance -->
                <div class="td1">
                  <div class="item-avatar">
                    <img [src]="token.logoURI || 'assets/images/box-icon/coin-01.png'" alt="{{ token.symbol }}">
                  </div>
                  <div class="item-name">
                    {{ token.symbol }}
                    <h6 class="price gem pt-10">{{ token.amount }}</h6>
                  </div>
                </div>

                <!-- Kolom kanan: nilai USD + trend -->
                <div class="td5">
                  <h6 class="price gem">
                    ${{ token.usdValue || 0 }}
                    <div class="td4 warning pt-10">
                      <span
                        [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')"
                      >
                        {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                      </span>
                      <i
                        [ngClass]="
                          token.trend > 0
                            ? 'icon-arrow-up2 warning'
                            : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')
                        "
                      ></i>
                    </div>
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSwapModal()">Cancel</button>
          </div>
        </div>

        <!-- Step 2: Pilih Token To -->
        <div *ngIf="selectedFromToken && !selectedToToken && !isSwapping && !txSig">
          <h2 class="modal-title">Select Token to Swap To</h2>

          <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
            <input type="search" class="search-field style-1" placeholder="Search..."
                   [(ngModel)]="swapSearchTo" name="swapSearchTo">
            <button type="submit" class="search search-submit">
              <i class="icon-search"></i>
            </button>
          </form>

          <!-- List token pakai template ranking -->
          <div class="widget-table-ranking pb-20" *ngIf="tokens.length > 0">
            <div class="table-ranking-content" *ngFor="let token of tokens | filter:swapSearchTo" (click)="selectToToken(token)">
              <div data-wow-delay="0s" class="fl-row-ranking" *ngIf="!selectedFromToken || token.mint !== selectedFromToken.mint">
                <!-- Kolom kiri: logo + symbol + balance -->
                <div class="td1">
                  <div class="item-avatar">
                    <img [src]="token.logoURI || 'assets/images/box-icon/coin-01.png'" alt="{{ token.symbol }}">
                  </div>
                  <div class="item-name">
                    {{ token.symbol }}
                    <h6 class="price gem pt-10">{{ token.amount }}</h6>
                  </div>
                </div>

                <!-- Kolom kanan: nilai USD + trend -->
                <div class="td5">
                  <h6 class="price gem">
                    ${{ token.usdValue || 0 }}
                    <div class="td4 warning pt-10">
                      <span
                        [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')"
                      >
                        {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                      </span>
                      <i
                        [ngClass]="
                          token.trend > 0
                            ? 'icon-arrow-up2 warning'
                            : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')
                        "
                      ></i>
                    </div>
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-actions">
            <button class="btn-cancel" (click)="selectedFromToken = null">Back</button>
          </div>
        </div>

        <!-- Step 3: Input Amount -->
        <div *ngIf="selectedFromToken && selectedToToken && !isSwapping && !txSig">
          <h2 class="modal-title">
            Swap {{ selectedFromToken.symbol }} → {{ selectedToToken.symbol }}
          </h2>
          <form (submit)="swapTokens($event)">
            <div class="form-group">
              <label for="swapAmount">Amount ({{ selectedFromToken.symbol }})</label>
              <input
                type="number"
                id="swapAmount"
                [(ngModel)]="swapAmount"
                name="swapAmount"
                required
                min="0"
                class="search-field style-1"
              >
              <h5 class="price gem warning">
                Balance: {{ selectedFromToken.amount }}
              </h5>

              <!-- Tombol cepat -->
              <div class="quick-buttons">
                <button type="button" (click)="setHalfAmount()">50%</button>
                <button type="button" (click)="setMaxAmount()">Max</button>
              </div>
            </div>

            <div class="modal-actions">
              <button type="button" class="btn-cancel" (click)="selectedToToken = null">Back</button>
              <button
                type="submit"
                class="btn-send"
                [disabled]="!swapAmount || swapAmount <= 0 || swapAmount > selectedFromToken.amount"
              >
                Swap
              </button>
            </div>
          </form>
        </div>

        <!-- Step 4: Loading -->
        <div *ngIf="isSwapping && !txSig" class="step-4 ">
          <h2 class="modal-title">Processing Swap...</h2>
          <div class="loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </div>

        <!-- Step 5: Success -->
        <div *ngIf="txSig" class="success-tx">
          <h2 class="modal-title">Swap Successful!</h2>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <p>You swapped {{ swapAmount }} {{ selectedFromToken.symbol }} → {{ selectedToToken.symbol }}</p>
          <a [href]="'https://solscan.io/tx/' + txSig + '?cluster=mainnet'" target="_blank" class="btn-send">
            View on Solscan
          </a>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSwapModal()">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- 🪪 Transaction Signing Modal -->
    <div class="custom-modal" *ngIf="showSignModal">
      <div class="modal-backdrop" (click)="cancelSignModal()"></div>

      <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSign, 'slide-down': isClosingSign }">
        <div *ngIf="!signCompleted && !signRejected">
          <h2 class="modal-title">Sign Transaction</h2>
          <p class="text-center">Please sign this transaction in your Universe Wallet.</p>

          <div class="loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
          </div>

          <p class="text-center small-text">Waiting for signature...</p>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="cancelSignModal()">Cancel</button>
            <button 
              type="button"
              class="btn-send"
              [disabled]="!pendingTxId || isSigning"
              (click)="manualSignNow()">
              Sign Now
            </button>
          </div>
        </div>

        <div *ngIf="signCompleted">
          <h2 class="modal-title">Transaction Signed ✅</h2>
          <p>Your transaction has been successfully signed.</p>
          <div class="modal-actions">
            <button type="button" class="btn-send" (click)="closeSignModal()">Continue</button>
          </div>
        </div>

        <div *ngIf="signRejected">
          <h2 class="modal-title">Signature Rejected ❌</h2>
          <p>Signing failed. Please try again.</p>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="closeSignModal()">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ⚙️ Options Modal -->
    <div class="custom-modal" *ngIf="showOptionsModal">
      <div class="modal-backdrop" (click)="resetOptionsModal()"></div>

      <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingOptions, 'slide-down': isClosingOptions }">

        <!-- Step 1: Search Token -->
        <div *ngIf="!selectedOptionToken">
          <h2 class="modal-title">Manage Tokens</h2>

          <!-- 🔍 Search bar -->
          <form action="#" method="get" role="search" class="search-form relative" (submit)="onSearchToken($event)">
            <input
              type="search"
              id="search"
              class="search-field style-1"
              placeholder="Search token name or mint..."
              [(ngModel)]="tokenSearchOptions"
              name="tokenSearchOptions"
              title="Search token"
            />
            <button class="search search-submit" type="submit" title="Search">
              <i class="icon-search"></i>
            </button>
          </form>

          <!-- ⏳ Loading -->
          <div *ngIf="isSearching" class="loading-spinner pt-20">
            <ion-spinner name="crescent"></ion-spinner>
          </div>

          <!-- 🌐 Network results -->
          <div class="widget-table-ranking pb-20" *ngIf="!isSearching && searchResults.length > 0">
            <h5 class="pb-10">Network Results</h5>
            <div class="table-ranking-content" *ngFor="let token of searchResults" (click)="selectOptionToken(token)">
              <div class="fl-row-ranking">
                <div class="td1">
                  <div class="item-avatar">
                    <img [src]="token.logoURI" alt="{{ token.symbol }}">
                  </div>
                  <div class="item-name">
                    {{ token.symbol }}
                    <p class="inner small-text pt-10" style="font-size: 14px">{{ token.name }}</p>
                    <h6 class="price gem warning">{{ token.amount }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 🔹 Local tokens -->
          <div class="widget-table-ranking pb-20" *ngIf="!isSearching && filteredOptionTokens.length > 0">
            <h5 class="pb-10">Your Tokens</h5>
            <div class="table-ranking-content" *ngFor="let token of filteredOptionTokens" (click)="selectOptionToken(token)">
              <div class="fl-row-ranking">
                <div class="td1">
                  <div class="item-avatar">
                    <img [src]="token.logoURI" alt="{{ token.symbol }}">
                  </div>
                  <div class="item-name">
                    {{ token.symbol }}
                    <h6 class="price gem pt-10 warning">{{ token.amount }}</h6>
                  </div>
                </div>
                <div class="td5">
                  <h6 class="price gem warning">
                    ${{ token.usdValue }}
                  </h6>
                </div>
              </div>
            </div>
          </div>

          <!-- 🚫 No results -->
          <div class="no-result" *ngIf="!isSearching && filteredOptionTokens.length === 0 && searchResults.length === 0">
            No tokens found
          </div>

          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetOptionsModal()">Close</button>
          </div>
        </div>

        <!-- Step 2: Token detail -->
        <div *ngIf="selectedOptionToken">
          <h2 class="modal-title">Manage {{ selectedOptionToken.symbol }}</h2>
          <div class="token-detail text-center">
            <img [src]="selectedOptionToken.logoURI" width="60" alt="">
            <h4>{{ selectedOptionToken.symbol }}</h4>
            <p>Balance: {{ selectedOptionToken.amount || 0 }} (≈ ${{ selectedOptionToken.usdValue || 0 }})</p>
            <p class="mt-5"><small>{{ selectedOptionToken.mint }}</small></p>
          </div>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="selectedOptionToken = null">Back</button>
            <button type="button" class="btn-send" (click)="addNewToken(selectedOptionToken)">Add / Manage</button>
          </div>
        </div>

      </div>
    </div>

    <!-- QR Scanner Section -->
    <div *ngIf="showScanner" class="qr-overlay">
      <div id="scanner-frame" class="scanner-frame"></div>
      <div class="scanner-controls">
        <button type="button" class="btn-cancel" (click)="stopScan()">Cancel</button>
      </div>
    </div>

</div>
<!-- /#wrapper -->